footer {
    padding-inline: $container-padding;
    background-color: $neutral-400;

    .divider {
        height: 1px;
        width: 100%;
        background-color: $neutral-600;
        margin-bottom: $section-padding;
    }

    .sitemap {
        display: flex;
        justify-content: space-between;
        margin-bottom: calc($section-padding / 2);

        h3 {
            font-size: $fs-300;
            color: $neutral-600;
            margin-bottom: 2rem;
        }

        li {
            margin-bottom: .75rem;
        }
    }

    .info {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;
        font-size: $fs-100;
    }
}

.footerImg {
    width: 100%;
}

@include breakpoint(0, $mobile) {
    footer {
        padding-top: $section-padding-mobile;

        .sitemap {
            flex-wrap: wrap;

            .column {
                flex: 1 0 35%;
            }

            .column:nth-of-type(1) {
                margin-bottom: 2rem;
            }

            .column:nth-of-type(2), .column:nth-of-type(4) {
                text-align: right;
            }
        }
    }
}