#jobs {
    padding-block: $section-padding;
    padding-inline: $container-padding;

    display: flex;
    align-items: space-between;

    .text {
        width: 50%;

        h2 {
            font-size: $fs-500;
            line-height: $ln-700;
            margin-bottom: calc($section-padding / 2);
        }

        p {
            font-size: $fs-400;
            line-height: $ln-500;
            font-weight: $fw-light;
            max-width: 35ch;
        }

        a {
            text-decoration: underline;
        }
    }

    img {
        width: 50%;
    }
}

@include breakpoint(0, $mobile) {
    #jobs {
        padding-block: $section-padding-mobile;
        flex-direction: column;

        .text {
            width: 100%;
            margin-bottom: calc($section-padding-mobile / 2);

            h2 {
                margin-bottom: calc($section-padding-mobile / 2);
            }

            p {
                font-size: $fs-350;
                line-height: $ln-500;
            }
        }

        img {
            width: 100%;
        }
    }
}