#locations {
    padding-block: $section-padding;
    padding-inline: $container-padding;
    background-color: $neutral-400;

    h2 {
        padding-bottom: calc($section-padding / 2);
        font-size: $fs-500;
    }

    .locations {
        display: flex;
        justify-content: space-between;
    }

    .location {
        width: 30%;

        img {
            width: 100%;
            margin-bottom: 1rem;
            height: 400px;
            object-fit: cover;
        }

        p {
            line-height: $ln-300;
            margin-bottom: 1rem;
        }

        & > p:first-of-type {
            font-weight: $fw-semibold;
        }

        .openingHours {
            display: flex;

            p:first-of-type {
                margin-right: 1rem;
            }
        }
    }

    .location:nth-of-type(2) {
        img {
            height: 650px;
        }
    }
}

@include breakpoint(0, $mobile) {
    #locations {
        padding-block: $section-padding-mobile;

        h2 {
            padding-bottom: 1rem;
        }
    
        .locations {
            flex-direction: column;
        }
    
        .location {
            margin-top: 2rem;
            width: 100%;
        }
    }
}