#motto {
    padding-block: $section-padding;
    padding-inline: $container-padding;
    display: flex;
    justify-content: space-between;
    align-items: end;

    img {
        width: 50%;
    }

    .text {
        width: 40%;

        p:nth-of-type(1) {
            font-size: $fs-500;
            line-height: $ln-700;
        }

        p:nth-of-type(2) {
            margin-top: 5rem;
            font-size: $fs-300;
            line-height: $ln-300;
        }

        .divider {
            height: 1px;
            width: 100%;
            background-color: $neutral-400;
            margin-top: 5rem;
        }
    }
}

@include breakpoint(0, $mobile) {
    #motto {
        padding-block: $section-padding-mobile;
        flex-direction: column;

        img {
            width: 100%;
            margin-bottom: 2rem;
        }
    
        .text {
            width: 100%;

            p:nth-of-type(1) {
                font-size: $fs-350;
                line-height: $ln-500;
            }

            p:nth-of-type(2) {
                margin-top: 2rem;
            }

            .divider {
                display: none;
                margin-top: 0rem;
            }
        }
    }
}