.divider {
    height: 1px;
    width: calc(100% - 2* $container-padding);
    margin: auto;
    background-color: $neutral-400;
}

#workshops {
    padding-block: $section-padding;
    padding-inline: $container-padding;

    h2 {
        padding-bottom: calc($section-padding / 2);
        font-size: $fs-500;
    }

    .offer {
        display: flex;
        justify-content: space-between;

        .workshop {
            $padding: 1.5rem;

            width: calc(34% - 2*$padding);
            height: 40vw;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: $padding;
            align-items: start;
            text-align: left;

            .row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                svg {
                    width: 36px;

                    path {
                        fill: $neutral-100;
                    }    
                }
            }
            
            
            h3 {
                color: $neutral-100;
                font-size: $fs-500;
                line-height: $ln-700;
            }

            p {
                color: $neutral-100;
                font-size: $fs-300;
                line-height: $ln-300;
                margin-top: 0.5rem;
            }

            &:nth-of-type(1) {
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('/src/media/images/pexels-marta-dzedyshko-2067631.jpg');
            }

            &:nth-of-type(2) {
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('/src/media/images/pexels-cottonbro-studio-3943181.jpg');
            }

            &:nth-of-type(3) {
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('/src/media/images/pexels-maahid-photos-4435690.jpg');
            }
        }
    }
}

@include breakpoint($mobile, $mobile + 360) {
    #workshops {
        .offer {
            .workshop {
                .row {
                    svg {
                        width: 24px;
                    }
                }
                h3 {
                    font-size: $fs-350;
                }
            }
        }
    }
}

@include breakpoint(0, $mobile) {
    #workshops {
        padding-block: $section-padding-mobile;

        h2 {
            padding-bottom: 1rem;
            font-size: $fs-500;
        }

        .offer {
            flex-direction: column;
            
            .workshop {
                width: 100%;
                height: 70vh;
                margin-top: 2rem;
            }
        }
    }
}