#jobs {
    padding-block: $section-padding;
    padding-inline: $container-padding;

    display: flex;
    align-items: space-between;

    .text {
        width: 50%;

        h2 {
            font-size: $fs-500;
            line-height: $ln-700;
            margin-bottom: $section-padding / 2;
        }

        p {
            font-size: $fs-400;
            line-height: $ln-500;
            font-weight: $fw-light;
            max-width: 35ch;
        }

        a {
            text-decoration: underline;
        }
    }

    img {
        width: 50%;
    }
}