.motto {
    padding-block: $section-padding;
    padding-inline: $container-padding;
    display: flex;
    justify-content: space-between;
    align-items: end;

    img {
        width: 50%;
    }

    .text {
        width: 40%;

        p:nth-of-type(1) {
            font-size: $fs-500;
            line-height: $ln-700;
        }

        p:nth-of-type(2) {
            margin-top: 5rem;
            font-size: $fs-300;
            line-height: $ln-300;
        }

        .divider {
            height: 1px;
            width: 100%;
            background-color: $neutral-200;
            margin-top: 1rem;
        }
    }

}