header {
    $padding: 5%;   

    position: fixed;
    width: calc(100% - $padding * 2);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: $padding;
    padding-right: $padding;

    a {
        color: $neutral-100;
    }

    .logo {
        font-size: $fs-400;
        font-weight: $fw-semibold;
    }

    ul {
        display: flex;

        li {
            margin-left: 32px;
            font-size: $fs-200;
            font-weight: $fw-regular;
        }
    }
}