// Breakpoints

$mobile: 720;
$desktop: $mobile + 1;

// Colors
$primary-500: #97BB8B;
$primary-700: #7C7E70;

$neutral-100: #FFFFFF;
$neutral-200: #D9D9D9;
$neutral-300: #EFEDDD;
$neutral-400: #D6D1C5;
$neutral-600: #87847B;
$neutral-800: #2C2B2C;

// Font Sizes

$fs-100: 0.625rem; // 10px
$fs-200: 0.8125rem; // 13px
$fs-300: 1rem; // 16px
$fs-400: 1.75rem; // 28px
$fs-500: 2.125rem; // 34px
$fs-700: 2.5rem; // 40px
$fs-800: 3.125rem; // 50px

// Font Weights

$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;

// Sizes

$section-padding: 10rem;
$container-padding: 5%;

// Line Heights:

$ln-300: 1.5rem;
$ln-500: 2.25rem;
$ln-700: 3rem;